In [1]:
data = 'Dave David'
data.count('v')

2

In [4]:
data1 = 'string'
data1.count('v')

0

In [5]:
data2 = 'string'
data2.count('vid')

0

In [7]:
string = 'Dave ID is dave'
string.index('i')

8

In [8]:
string.index('D')  #1개 이상이면 가장 먼저 나오는 위치를 알려줌

0

In [9]:
string.index('x') # 해당 문자가 없으므로 에러가 발생함.

ValueError: substring not found

In [10]:
string  =  'dave is david'
string.find('x')    # 인덱스와 동일하지만, 차이점은 해당 문자가 없을 시 -1 을 리턴함.

-1

In [13]:
string = 'Dave ID is dave'
string.find('D')

if string.find('x') == -1:
    print("x는 스트링에 없습니다.")

x는 스트링에 없습니다.

In [14]:
string.find('d')

11

In [16]:
string ="12345"
comma = ','
comma.join(string)          # 껴넣을 문자.join(문자열)

'1,2,3,4,5'

In [17]:
data = " Dave "
data.strip()    # 앞, 뒤 공백을 다 지움

'Dave'

In [18]:
string2 = "       David  "
string2.strip()    # 앞 뒤 공백이 여러개 있어도 한번에 다 지움

'David'

In [19]:
string2.lstrip()   #문자열의 왼쪽 공백을 다 지움  left strip

'David  '

In [20]:
string2.rstrip()   #문자열의 오른쪽 공백을 다 지움 right strip

'       David'

In [33]:
string = "      9999999999999(Dave)8888888888888888       "
string.strip(" 98()")

'Dave'

In [34]:
string = 'Dave'
string.upper()

'DAVE'

In [35]:
string.lower()

'dave'

In [37]:
string = "Dave goes to Korea"
string.split()          #split()인자를 넣지 않으면 디폴트로 스페이스를 기준으로 분리

['Dave', 'goes', 'to', 'Korea']

In [38]:
string = "Dave goes to Korea"
string.split()[3]

'Korea'

In [39]:
string.split(' ')

['Dave', 'goes', 'to', 'Korea']

In [40]:
string = "Dave/goes/to/Korea"
string.split('/')

['Dave', 'goes', 'to', 'Korea']

In [42]:
string  =  "10,11,22,33,44"
string.split(',')

['10', '11', '22', '33', '44']

In [44]:
string = "10,11,22,33,44"
listdata = string.split(',')
for index, listitem in enumerate(listdata):
    listdata[index] = int(listitem)
print(listdata)

[10, 11, 22, 33, 44]

In [45]:
string = "10,11,22,33,44"
split_string = string.split(',')
for index, split_item in enumerate(split_string):
    split_string[index] = int(split_item)
print(split_string)

[10, 11, 22, 33, 44]

In [46]:
string  = "David goes to Korea"
string.replace("David", "Dave")

'Dave goes to Korea'

In [47]:
string2 = "(Dave)"
string2.replace("()","")   # 연결된 문자열은 해당 문자열이 동일하게 매칭이 되어야 함

'(Dave)'

In [48]:
string2.replace("(","")

'Dave)'

In [51]:
string2.replace(")","")

'(Dave'

In [52]:
string2 = string2.replace("(","")
string2.replace(")","")

'Dave'

In [53]:
string2 = "(Dave)"
string2.replace("(","").replace(")","")

'Dave'

In [54]:
string = "10,11,22,33,44"
string.replace(","," ")      # ,(콤마)는 하나씩 끊어져 있으므로 단일 문자열은 바꿀 수 있다.

'10 11 22 33 44'